function updateCart(cart) {
  for (var item in cart) {
    var Item = item.toString();
    
      document.getElementById('#' + Item).innerHTML = "<button id='minus" + Item + "' class='btn btn-primary minus'>-</button> <span id='val" + Item + "''>" + cart[Item] + "</span> <button id='plus" + Item + "' class='btn btn-primary plus'> + </button>";
  }
  localStorage.setItem('cart', JSON.stringify(cart));
  document.getElementById('cart').innerHTML = Object.keys(cart).length;
  console.log(cart);
}


$('.AB').on("click", "button.minus", function() {
  a = this.id.slice(5, );
  console.log(a)
  cart[a] = cart[a] - 1;
  cart[a] = Math.max(0, cart[a]);
  //document.getElementById(a).innerHTML = cart[a];
  updateCart(cart);
});
$('.AB').on("click", "button.plus", function() {
  a = this.id.slice(4, );
  console.log("plus")
  cart[a] = cart[a] + 1;
  //document.getElementById(a).innerHTML = cart[a];
  updateCart(cart);
});














 for( item in cart){
  Let name = cart[item][1];
  Let qty = cart[item][0];

  mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
   ${name}
   <span class="badge bg-primary rounded-pill">${qty}</span>
 </li>`
  
  $('#items').append(mystr);
}


//When Items Are Zero

if (cart['pr' + a][0] == 0) {
  for (var item in cart) {
      document.getElementById('div' + item).innerHTML = '<button id = "' + item + '" class="btn btn-primary cart">Add to Cart</button>'
  }
  delete cart['pr' + a];
} else {
  document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
}